[Unit]
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=sh -c '/root/rc.local'

[Install]
WantedBy=multi-user.target
