options {
  recursion no;
  empty-zones-enable no;
  pid-file "/var/run/named/named.pid";
  directory "/usr/local/etc/namedb/working";
  listen-on { {{ listen_addrs[0] }}; {{ listen_addrs[1] }}; };
  listen-on-v6 { {{ listen_addrs_6[0] }}; {{ listen_addrs_6[1] }}; };
};
{% if scenario is defined %}
zone "net." { type master; file "/root/scenarios/5.{{ scenario }}-net"; };
{% endif %}
