rc_configured=YES
fsck_flags="-y"
sshd=YES
wscons=YES
dhcpcd=YES
ntpdate=YES
ip6addrctl=YES
ip6addrctl_policy="ipv4_prefer"

hostname="{{ inventory_hostname }}"
net_interfaces="{{ network_configuration.networks | map(attribute='name') | join(' ') }}"
{% if 'default_router' in network_configuration %}
defaultroute="{{ network_configuration.default_router }}"
{% endif %}
{% if 'default_router6' in network_configuration %}
defaultroute6="{{ network_configuration.default_router6 }}"
{% endif %}
