{% for n in network_configuration.networks %}
{% if 'v4' in n and 'static_routes' in n.v4 %}
{% for r in n.v4.static_routes %}
net {{ r.network }} {{ r.gateway }}
{% endfor %}
{% endif %}
{% if 'v6' in n and 'static_routes' in n.v6 %}
{% for r in n.v6.static_routes %}
inet6 {{ r.network }} {{ r.gateway }}
{% endfor %}
{% endif %}

{% endfor %}
