# Maintained by Ansible.

{% for n in network_configuration.networks %}

{% if n.v4.mtu is defined %}
# Set v4 MTU for {{ n.name }}
ip link set {{ n.name }} mtu {{ n.v4.mtu }}
{% endif %}

{% if n.v6.mtu is defined %}
# Set v6 MTU for {{ n.name }}
echo 0 > /proc/sys/net/ipv6/conf/{{ n.sysctl_name | default(n.name) }}/accept_ra_mtu
echo {{ n.v6.mtu }} > /proc/sys/net/ipv6/conf/{{ n.sysctl_name | default(n.name) }}/mtu
{% endif %}

{% if n.v4.mss is defined and n.v4.static_routes is defined %}
{% for r in n.static_routes
# Set MSS for {{ r.network }}
ip route change {{ r.network }} advmss {{ n.v4.mss }}
{% endfor %}
{% endif %}

{% if n.v6.mss is defined and n.v6.static_routes is defined %}
{% for r in n.static_routes
# Set MSS for {{ r.network }}
ip route change {{ r.network }} advmss {{ n.v6.mss }}
{% endfor %}
{% endif %}

{% endfor %}
