#!/bin/sh

# PROVIDE: {{ software_service }}
# REQUIRE: NETWORKING ldconfig syslogd
# KEYWORD: shutdown

. /etc/rc.subr

name="{{ software_service }}"
desc="{{ software_service }} startup script"
rcvar="{{ software_service }}_enable"

command="{{ software_target_dir }}/sbin/named"
command_args="-c {{ software_target_dir }}/etc/bind/bind.conf"

load_rc_config ${name}

{{ software_service }}_enable="YES"

run_rc_command "$1"
