[Unit]
Description={{ service_name }} service
After=syslog.target network-online.target

[Service]
ExecStart={{ software_target_dir }}/bin/ldns-testns -v {{ software_target_dir }}/etc/{{ software_type }}/{{ software_type }}.conf

[Install]
WantedBy=multi-user.target
